#logo-img {
    width: 25px;
}

#navbarToggler {
    border: 0;
}

#navbarToggler:focus{
    border-radius: 30px;

}

#menu {
    & > li {
        margin: 0 12px;
    }
    & > li a {
        color: black;
    }
    & > li a:hover {
        color: #58B19F;
        text-decoration: underline;
    }
}